modules = ["nodejs-20", "web", "bash"]
[agent]
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3000 BASE_PATH=/ pnpm --filter @workspace/api-server run dev & PORT=5000 BASE_PATH=/ pnpm --filter @workspace/roboneo-generator run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "PORT=3000 node --enable-source-maps /home/runner/workspace/Artefact/api-server/dist/index.mjs"]
build = ["bash", "-c", "pnpm --filter @workspace/api-server run build && BASE_PATH=/ PORT=5000 pnpm --filter @workspace/roboneo-generator run build"]

[userenv]

[userenv.shared]
PORT = "5000"
BASE_PATH = "/"
SERPER_API_KEY = "bfa34b52df8a359fafd1b091886a1f3e183a3978"
